.entry {
  display: flex;
  flex-flow: row nowrap;
}

.portraitColumn {
  width: 75px;
}

.portrait {
  width: 75px;
  height: 75px;
  border: 1px solid gray;
}

.author {
  font-weight: bold;
}

.timestamp {
  color: gray;
}
